.container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "navbar"
    "main";
    grid-template-rows: 1fr 1fr 6fr;
}

.header {
    grid-area: header;
    background-color: green;
}

.navbar {
    grid-area: navbar;
    background-color: red;
}

main {
    grid-area: main;
    background-color: blue;
}

.dropdownsflex {
    display: flex;
    justify-content: flex-start;
}

.dropdown {
    position: relative;
}

.dropbtn {
    border: none;
    padding: 30px 40px;
    background-color: blueviolet;   
}

.dropbtn:hover {
    background-color: purple;
}

.dropcontent {
    background-color: aquamarine;
    position: absolute;
    visibility: hidden;
    width: 100%;
}

.reveal {
    visibility: visible;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

li:hover {
    background-color: rgb(135, 175, 162);
}

a {
    text-decoration: none;
}