* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.678);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    position: relative;
    height: 800px;
}

.images {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 130vw;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px 10px;
    max-width: 65vw;
}

button {
    border: none;
    position: absolute;
    z-index: 10;
}

button:first-child {
    right: 40vw;
}

button:last-child {
    left: 40vw;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.719);
  padding: 10px;
}

.arrow-right, .arrow-left {
    background-color: rgb(26, 26, 26);
}

.circle {
    padding: 10px;
}

.current {
    color:rgb(21, 82, 133);
}

.pic1 {
    transform: translate(0vw);
    transition: transform 200ms linear;
}

.pic2 {
   transform: translate(-65vw);
   transition: transform 200ms linear;
}

.pic3 {
    transform: translate(-130vw);
    transition: transform 200ms linear;
}

.pic4 {
   transform: translate(-195vw);
   transition: transform 200ms linear;
}

.pic5 {
    transform: translate(-260vw);
    transition: transform 200ms linear;
 }
